# In file tree order (Atom)

# RubyMine idea folder
.idea/

# YARD Objects
.yardoc/

# Grunt build tasks
build/

# SQLite Development Databases
db/development.sqlite3
db/test.sqlite3

# Development, Test and New Relic Agent Logs
log/

# NPM/Node Modules
node_modules/

# Rails temp files
tmp/

# RSpec config
.rspec

# node package manager debug log
npm-debug.log
